.face.center{
	position: relative;
	width: 150;
	height: 200;
	background: TAN;
	border-radius: 500px 500px 500px 500px;
	margin:auto;
}
.face.center:after{
    margin:auto;
	position: relative;
	background: RED;
	border-radius: 10px 10px 10px 10px;
	width: 70px;
	height: 50px;
	top: 400px;
	
}
.eyes.center
{
    position: absolute;
    top: 35%;
    margin-top: 0px;
    left: 20%; 
}

.eye:before{
    height: 30px;
    border: 1px solid black;
    border-color:  transparent transparent  black;
    border-radius: 15px  0 0 100px;
    transform: rotate(75deg);
    position: relative;
    content: "";
    display: block;
    margin-top: -25px;
	right: 10px;
}
.eye
{
	margin: auto;
	width: 10px;
	height: 10px;
	background: BLACK;
	border-radius: 60%;
	float: left;
	margin: 12px;
	border: 5px SOLID RED;
	box-shadow: 0 0 0 2px white;
}
.nose.center::before{
	position: relative;
	margin: auto;
	top: -25;
	display:block;
	content: ".";
	font-size: 50px;
}
.nose.center
{
	position: relative;
	width: 25;
	height: 25;
	background: #ea7e5d;
	border-radius: 75% 75% 50% 50%;
	margin:auto;
	top: 30px;
}
.nose.center::after{
	position: relative;
	top:-83px;
	left:10px;
	display:block;
	content: ".";
	font-size: 50px;
}
.mouth.center:before{
	content:"";
	display: block;
	position: relative;
	margin:auto;
	top: 50px;
	height: 30px;
	width: 80px;
	border-radius: 0px 0px 130px 130px;
	background: BLACK;
	overflow:hidden;
}
.mouth.center:after{
	content:"";
	display: block;
	position: relative;
	margin:auto;
	height: 9px;
	width: 30px;
	top: 41px;
	border-radius: 180px 180px 100px 100px;
	background: RED;
}
.hair:before{
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top:60px;
	right:10px;
	border-left: 20px SOLID transparent;
	border-right: 20px SOLID transparent;
	border-bottom: 40px SOLID TAN;
}
.hair{
	position: relative;
	margin: auto;
	background: YELLOW;
	border-radius: 120px 120px 0 0;
	width: 150px;
	height: 75px;
	top: 0px;
	overflow:hidden;
}
.neck{
    margin:auto;
	position: relative;
	background: #ea7e5d;
	border-radius: 10px 10px 10px 10px;
	width: 70px;
	height: 50px;
	top: 40px;
	z-index:-1;
}
